@import "./../../sass/variables";

.main{
    width: 537.5px;
    height: 100%;
    margin: 20px 0 45px 0;
    margin-left: 170.5px;
    max-width: 100%;
    position: relative;
    max-height: 100%;

    &_box{
        width: 80%;
        height: fit-content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: grid;
        grid-template-rows: 100%;

        &_child{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            margin: auto;
            width: 100%;
            background-color: #799d4b;
            color: #fff;
            font-size: 15px;
            position: relative;
            text-transform: uppercase;
            font-family: "Montserrat", sans-serif;
            font-size: 9px;
            font-weight: 700;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.29;
            letter-spacing: normal;
            text-align: left;
            color: #fff;

            &_line{
                position: absolute;
                right: 5px;
                top: 50%;
                transform: translateY(-50%) rotate(45deg);
                height: 100%;
                width: 3rem;
                border-top: 2px #fff solid;
                border-right: 2px #fff solid;
            }
        }

        &_line{
            position: absolute;
            z-index: -1;
            top: 50%;
            border: none;
            background-color: #aaa;
            height: 1px;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: auto;
        }
    }
}

.special{
    border: none;
    background-color: $marine-blue;
    height: 2px;
}
