@import "./../../../sass/variables";

.group{
    display: flex;
    flex-direction: row;
    margin: 0 12.5px;

    &_card{
        width: 52.5px;
        height: 15px;
        border-radius: 3px;
        border: solid 0.5px $marine-blue;
        background-color: #e9f1f8;
        display: flex;
        align-items: center;
        justify-content: center;
    
        &_text{
            width: 29px;
            height: 9px;
            font-family: "Montserrat", sans-serif;
            font-size: 7px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.29;
            letter-spacing: normal;
            text-align: center;
            color: $marine-blue;
        }
    }

    &_divide{
        height: 7.5px;
        width: 18px;
        margin: 0 10px;
        border-bottom: solid .5px $marine-blue;
    }
}

.primaryText{
    height: 10px;
    font-size: 9px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    width: 55.5px;
    text-align: right;
    color: $marine-blue
}

.event{
    height: 50px;
    margin-right: 45px;
    display: flex;
    transform: translateY(-15%);
    width: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &_circle{
        height: 29.5px;
        width: 29.5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 0.5px $marine-blue;
        border-radius: 50%;
        font-family: "Montserrat", sans-serif;
        font-size: 20.5px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.22;
        letter-spacing: normal;
        text-align: left;
        color: $marine-blue;
    }

    &_text{
        height: 9px;
        font-family: "Montserrat", sans-serif;
        font-size: 7px;
        margin-top: 5.5px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        text-align: center;
        color: $marine-blue;
    }
}

.primaryButton{
    margin-left: 18.5px;
    width: 91px;
    margin-top: 8px;
    height: 21px;
    border-radius: 3px;
    background-color: #79add5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 7px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.finishButton{
    width: 108.5px;
    height: 25px;
    border-radius: 3px;
    color: #ffffff;
    display: flex;
    margin: 12.5px 0 46.5px 0;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    background-color: #799d4b;
    font-size: 9px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    cursor: pointer;
}

.darkButton{
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    width: 107px;
    height: 25px;
    border-radius: 3px;
    border: solid 0.5px #2575fc;
    background-color: #0a406b;
    font-family: "Montserrat", sans-serif;
    font-size: 9px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.lightButton{
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    width: 107px;
    height: 25px;
    border-radius: 3px;
    border: solid 0.5px #2575fc;
    background-color: #e9f1f8;
    font-family: "Montserrat", sans-serif;
    font-size: 9px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color: #bfbfbf;
    cursor: pointer;
}